<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link href="materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h3>{{title}}</h3>
        <div id="main">
            <div id="desk">
                <table>
                    <tbody>
                        <tr
                            v-for="r in rows"
                        >
                            <td 
                                v-for="c in r"
                                :x="c.x"
                                :y="c.y"
                                :class="c.color"
                                @mouseover="setCoordinates(c.x,c.y)"
                                @click='setCellValue(c.x,c.y)'
                            >
                                <div class="">
                                    {{c.v}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tools">
                <div>
                    <div
                        v-for="i in colors"
                        class="m-inline"
                        @click="currentColor=i;currentDigit=''"
                    >
                        <div class="m-td"
                            :class="i"
                        ></div>
                    </div>
                    <div
                        class="m-inline"
                        @click="currentDigit='';currentColor=''"
                    >
                        <div class="m-td"
                        >X</div>
                    </div>
                </div>


                <div
                    v-for="i in div_dig"
                    class="m-inline"
                    @click="currentDigit=i,currentColor=''"
                >
                    <div class="m-td"
                    >{{i}}</div>
                </div>
                <button @click="">Игры</button>
                <button></button>
                <!-- <div>x={{currentX}}</div>
                <div>y={{currentY}}</div> -->
                <div>color={{currentColor}}</div>
                <div>digit={{currentDigit}}</div>
            </div>
        </div>
        <div id="modal_files" class="modal">
            <div class="modal-content">
                <h4 class="indigo-text text-darken-4">Справка</h4>
                <p>1. Выберите интересующий Вас семестр (по умолчанию выбран последний).</p>
                <p>Период будет изменен. Если нужно, можно откорректировать период, с которым программа будет работать.</p>
                <p>2. Выберите интересующие Вас дисциплину и группу.</p>
                <p>В скобках указаны количество дисциплин и групп попавших в выбранный период.
                После выбора дисциплины в списке групп перед названием каждой группы появляется знак '+' или '-'.
                Знак '+' означает, что у этой группы и дисциплины были занятия.
                Точно также, при выборе группы, в списке дисциплин будет указано у какой дисциплины были занятия.
                Если у выбранных группы и дисциплины будет знак '+', данные в таблице будут обновлены.</p>
                <p>3. По умолчанию, данные в журнале находятся в режиме "чтение".</p>
                <p>Чтобы перейти в режим "редактирование", нужно изменить положение соответствующего переключателя.</p>
                <p>4. Для просмотра тем занятий нужно нажать на кнопку "Показать темы".</p>
                <p>Темы выбираются при создании занятия, но можно изменить выбранную тему нажав на кнопку с символом "карандаш".</p>
                <p><b>Примечание.</b> Темы для дисциплин настраиваются отдельно, преподаватель может только выбрать необходимую тему из предложенного списка.</p>
                <p>5. Кнопка "Добавить занятие" вызовет форму, заполнив которую, можно сохдать занятие для выбранной группы и дисциплины.</p>
                <p>6. Кнопка "Удалить занятие" отобразит рядом с датами занятий значки с символом "корзина", предназначенные для удаления занятий.</p>
                <p>7. Для завершения занятия необходимо нажать на соответствующуб кнопку.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="purple lighten-3 modal-close waves-effect waves-green btn-flat"
                >Закрыть</a>
            </div>
        </div>
        
    </div>
    <script src="./vue.js"></script>
    <script src="materialize.min.js"></script>
    <script src="./sudoku.js"></script>
</body>
</html>